.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.category-select {
  position: absolute;
  top: 20px;
  right: 330px;
}
.search-bar {
  height: 50px;
  position: absolute;
  top: 20px;
  right: 30px;
}

.map-area {
  overflow: hidden;
}


/*RoadPanel*/
.roadpanel-container {
  position: absolute;
  right: 30px;
  top: 60px;
}
.roadpanel-title {
  background-color: rgb(243, 243, 243);
  border: 2px solid rgb(240, 240, 240);
  font-size: 20px;
}
.roadpanel-close {
  position: absolute;
  right: 10px;
}
.roadpanel-close:hover {
  color: rgb(255, 0, 0);
}
.roadpanel-close:active {
  color: rgb(241, 138, 152);
}
.roadpanel-onepanel {
  /*border: 1px ridge rgb(200, 200, 200);*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin-left: 2px;
  margin-right: 2px;
}
.roadpanel-panels {
  background-color: rgb(255,255,255);
  display: flex;
}